<!DOCTYPE html>
<html lang="en">

<head>


</head>

<body>

    <div data-template="logo"></div>
    <div class="container">
        <h1 data-template="name"></h1>
        <nav data-template="links.main">
        </nav>
    </div>


    <main class="container">
        <!-- Flash messages -->
        <div data-template data-var="flash">
            <div class="alert alert-{{ item.type }}">{{ item.message }}</div>
        </div>

        <!-- Main content -->
        <div>
            <span id="viewContent"></span><!-- Content will be inserted here -->
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; {{ year }} {{ appName }}. All rights reserved.</p>
            <p>Version: {{ appVersion }}</p>
        </div>
    </footer>
</body>

</html>