<!DOCTYPE html>
<html lang="en">

<head>


</head>

<body>
    <header>
        <div data-template="logo"></div>
        <div class="container">
            <h1 data-template="appName"></h1>
            <h6 data-template="appSlogan"></h6>
            <nav data-template="links">
            </nav>
        </div>
    </header>

    <main class="container">
        <!-- Flash messages -->
        <div data-template data-var="flash">
            <div class="alert alert-{{ item.type }}">{{ item.message }}</div>
        </div>

        <!-- Main content -->
        <div id="viewContent">
            <!-- Content will be inserted here -->
        </div>
    </main>

    <footer>
        <div class="container">
            <p data-template="appCopyright"></p>
            <p data-template="appVersion">Version:</p>
        </div>
    </footer>
</body>

</html>