<div data-view="resume/index">
    <div class="card">
        <div class="card-header">
            <h2>Resume</h2>
        </div>
        <div class="card-body">
            <p>Download in preffered format.</p>

            <h3>Download</h3>
            <ul class="list-group">
                <div data-template data-var="features">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open in</option>
                        <option value="1">PDF</option>
                        <option value="2">Word</option>
                        <option value="3">HTML</option>
                    </select>
                </div>
            </ul>

            <div style="margin-top: 1.5rem;">
                <a href="/about" class="btn btn-primary">Learn More</a>
                <a href="/contact" class="btn btn-secondary">Contact Us</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Highlights</h3>
        </div>
        <div class="card-body">
            <p>Skills:</p>
            <ul>
                <li>Too many to list.</li>
            </ul>
        </div>
        <div class="card-body">
            <p>Key Acheivments</p>
            <ul>
                <li>Too many to list.</li>
            </ul>
        </div>
    </div>
</div>